.mask-detect-con {
    width: 100%;
    height: 100%;
    overflow: scroll;
    .header {
        position: fixed;
        width: 100%;
        height: 60px;
        background: pink;
        @include flexBox(row, space-between, center);
        padding: 0 16px;
    }
    #settings {
        position: fixed;
        top: 0;
        left: -300px;
        width: 300px;
        height: 100vh;
        transition: 0.3s;
        #settings-loader {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: rgba(255, 255, 255, 0.3);
            backdrop-filter: blur(5px);
            -webkit-backdrop-filter: blur(5px);
            z-index: 10;
            visibility: hidden;
        }
        .settings-con {
            .settings-header {
                @include flexBox(row, space-between, center);
                margin: 16px 0;
            }
            height: 100%;
            padding: 0 16px;
            background: white;
            box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
            border-radius: 0 10px 10px 0;
            border: 1px solid rgba(255, 255, 255, 0.18);
            color: black;
            .switch {
                @include flexBox(row, space-between, center);
            }
        }
        &.active {
            left: 0;
        }
    }
    .stream {
        @include flexBox(column, center, center);
        margin-top: 60px;
        min-height: calc(100% - 60px);
        canvas {
            background: rgb(113, 158, 255);
            border-radius: 10px;
            margin-bottom: 30px;
        }
    }
}
